.app {
  text-align: left;
  background-color: #282c34;
}

.container {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  color: white;
}

p{
  font-size: 22px;
  line-height: 35px;
}

li{
  font-size: 22px;
  line-height: 35px;
  margin-bottom: 10px;
}

h3{
  font-size: 22px;
  line-height: 44px;
}

.hi-their{
  text-align: center;
  font-size: 35px;
  line-height: 45px;
}

.header{
  padding-top: 25px;
  text-align: left;
}

.logo{
  font-weight: 700;
  font-size: 25px;
  line-height: 40px;
  color: white;
  text-decoration: none;
}

a{
  color: dodgerblue;
  text-decoration: none;
}

.lets-work-together{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 80px;
  font-size: 40px;
  line-height: 50px;
}

.skills-values{
  margin-bottom: 80px;
}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 15px;
  gap: 20px;
  flex-wrap: wrap;
}

.bordered-link {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  transition: all .2s ease;
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  font-size: 20px;
  gap: 20px;
  flex-wrap: wrap;
}